.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #4d1601;
    color: white;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
  }
  
  .button:hover,
  .button:active {
    background-color: #2c0d00;
  }
  
  
  .badge {
    background-color: #b94517;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
  }
  
  .button:hover .badge,
  .button:active .badge {
    background-color: #92320c;
  }
  
  .bump {
    animation: bump 300ms ease-out;
  }
  /*  */


  .buttonhai {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #4d1601;
    color: white;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    margin-left: 45%;
  }
  
  .buttonhai:hover,
  .buttonhai:active {
    background-color: #2c0d00;
  }
  
  
  .badge {
    background-color: #b94517;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
  }
  
  .buttonhai:hover .badge,
  .buttonhai:active .badge {
    background-color: #92320c;
  }
  
  .bump {
    animation: bump 300ms ease-out;
  }
  
  
  